body {
  background-color: #DEE2E2;
}

nav {
  width: 25%;
  position: fixed;
  font-family: 'Inconsolata', monospace;
  white-space: nowrap;
  -webkit-transform-origin: center;
  -webkit-transform:rotate(-90deg) translateX(-100%);
  z-index: 10;
}

img {
  width: 100%;
  filter: saturate(1.2);
}

a {
  color: #929DA6;
  text-decoration: none;
  font-family: 'Inconsolata', monospace;
  font-weight: 400;
  text-decoration: none;
  font-size: 17px;
}

a.prototype {
  font-family: "Karla", sans-serif;
  text-decoration: underline;
  letter-spacing: 1px;
  color: #4F3A4B
}

div.box2, div.box4, div.box6, div.box8 {
  margin: 15% 20% 15% 33%;
  vertical-align: center;
}

p {
  font-family: "Karla", sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  color: #4F3A4B
}

h2 {
  font-family: "Karla", sans-serif;
  font-size: 34px;
  letter-spacing: 1px;
  color: #4F3A4B
}
