/* body {
  background-color: #000000;
  margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

nav {
  width: 25%;
  position: fixed;
  font-family: 'Inconsolata', monospace;
  white-space: nowrap;
  -webkit-transform-origin: center;
  -webkit-transform:rotate(-90deg) translateX(-100%);
  z-index: 10;
}

a {
  color: #929DA6;
  text-decoration: none;
  font-family: 'Inconsolata', monospace;
  font-weight: 400;
  text-decoration: none;
  font-size: 17px;
}

a#caplink {
  color: #FFFFFF;
  font-family: 'Abel', sans-serif;
  font-size: 21px;
  text-decoration: underline;
  line-height: 30px;
  letter-spacing: 2.2px;
  font-weight: 200;
}

div.box1 {
  text-align: center;
  margin: 0 0 10% 0
}

h1 {
  font-family: din-condensed, sans-serif;
  font-style: normal;
  font-weight: 300;
  color: #FFFFFF;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 2.2px;
}

h2 {
  font-family: din-condensed, sans-serif;
  font-style: normal;
  font-weight: 300;
  color: #FFFFFF;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 2.2px;

}

p {
  color: #FFFFFF;
  font-family: 'Abel', sans-serif;
  font-size: 21px;
  line-height: 32px;
  letter-spacing: 2px;
  font-weight: 200;
  text-align: left;
}

img.preview {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  filter: saturate(1.2);
}

main {
  margin: 10% 20% 0 33%;
  white-space: normal;
}

img#toplogo {
  width: 50%;
  padding-top: 100px;
  padding-bottom: 100px;
}

img.typo {
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  padding-bottom: 100px;
  filter: saturate(1.2);
}

img#btmcapsule {
  vertical-align: bottom;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70px;
}

p.footer {
  text-align: center;
  color: #E79E8C;
  font-size: 18px;
}

div.box12 {
  margin: 200px 0 100px 0
} */
