/* ABOUT CSS */

body {
  background-color: #FCFBFA;
  margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

nav {
  width: 25%;
  position: fixed;
  white-space: nowrap;
  -webkit-transform-origin: center;
  -webkit-transform:rotate(-90deg) translateX(-18em);
  z-index: 10;
}

a {
  color: #929DA6;
  text-decoration: none;
  font-family: 'Abel', sans-serif;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 1px;
  font-weight: 200;
}

a.intext {
  line-height: 25px;
}

a:hover {
  color: #FF9381;
  /* color: #353535; */
  font-weight: 400;
}

a.pop {
  font-family: 'Rubik Mono One', sans-serif;
  color: #929DA6;
  text-decoration: none;
  font-size: 20px;
}

a.pop:hover {
  color: #FF9381;
  /* color: #353535; */
}

main {
  margin: 10% 0 0 25%;
  white-space: normal;
}

img.homepic {
  width: 100%;
  /* filter: saturate(1.1); */
}

img.acpic {
  width: 100%;
  filter: saturate(1);
}

p {
  /* color: #929DA6; */
  color: #929DA6;
  font-family: 'Abel', sans-serif;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1px;
  font-weight: 200;
  text-align: left;
}


body#index p.sound {
  margin: 2em 0 2em 0;
}

h1 {
  font-family: 'Rubik Mono One', sans-serif;
  color: #929DA6;
  font-size: 32px;
  text-decoration: none;
  margin: 0px;
}

h2 {
  color: #929DA6;
  font-family: 'Abel', sans-serif;
  font-size: 46.5px;
  line-height: 55px;
  letter-spacing: 1px;
  font-weight: 200;

  text-decoration: none;
  margin: 0 0 -5px 0;
}

h3 {
  color: #929DA6;
  font-family: 'Abel', sans-serif;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 1px;
  font-weight: 200;

  text-decoration: none;
  margin: 0px;
}

h4 {
  font-family: 'Rubik Mono One', sans-serif;
  color: #929DA6;
  text-decoration: none;
  font-size: 20px;
}

body#index div:nth-of-type(2n+1) {
  padding: 0 0 0 0;
}

body#index div:nth-of-type(2n) {
  padding: 10% 0 10% 0;
}

body#collaborations div:nth-of-type(2n) {
  padding: 10% 0 20% 0;
}

body#index div:nth-of-type(3n) {
  padding: 0 0 20% 0;
}

body#collaborations div:nth-of-type(5n) {
  padding: 0 0 10% 0;
}

body#collaborations div:nth-of-type(6n) {
  padding: 0 0 20% 0;
}

body#solo div:nth-of-type(1n) {
  padding: 0 0 10% 0;
}

body#solo div:nth-of-type(2n) {
  padding: 0 0 20% 0;
}

img.play {
  height: 17px;
}





@media (max-height: 450px) {
  nav {
    width: 25%;
    position: fixed;
    font-family: 'Inconsolata', monospace;
    white-space: nowrap;
    -webkit-transform-origin: center;
    -webkit-transform:rotate(-90deg) translateX(-10.75em);
    z-index: 10;
  }
}

@media (min-height: 450px) {
  nav {
    width: 25%;
    position: fixed;
    font-family: 'Inconsolata', monospace;
    white-space: nowrap;
    -webkit-transform-origin: center;
    -webkit-transform:rotate(-90deg) translateX(-24em);
    z-index: 10;
  }
}

@media (min-width: 1200px) {
  nav {
    width: 25%;
    position: fixed;
    font-family: 'Inconsolata', monospace;
    white-space: nowrap;
    -webkit-transform-origin: center;
    -webkit-transform:rotate(-90deg) translateX(-16.5em);
    z-index: 10;
  }
/*
  @media (min-height: 1000px) {
    nav {
      width: 25%;
      position: fixed;
      font-family: 'Inconsolata', monospace;
      white-space: nowrap;
      -webkit-transform-origin: center;
      -webkit-transform:rotate(-90deg) translateX(-4em);
      z-index: 10;
    } */

  body#accordion nav {
    width: 25%;
    margin: 10% 0 0 0;
    position: fixed;
    /* font-family: 'Inconsolata', monospace; */
    white-space: nowrap;
    -webkit-transform-origin: center;
    -webkit-transform:rotate(-90deg) translateX(-16.5em);
    z-index: 10;
  }
}


@media (min-width: 300px) {
  nav {
    width: 25%;
    position: fixed;
    font-family: 'Inconsolata', monospace;
    white-space: nowrap;
    -webkit-transform-origin: center;
    -webkit-transform:rotate(-90deg) translateX(-19em);
    z-index: 10;
  }


@media (min-width: 600px) {
  nav {
    width: 25%;
    position: fixed;
    font-family: 'Inconsolata', monospace;
    white-space: nowrap;
    -webkit-transform-origin: center;
    -webkit-transform:rotate(-90deg) translateX(-22em);
    z-index: 10;
  }

@media (min-width: 800px) {
  nav {
    width: 25%;
    position: fixed;
    font-family: 'Inconsolata', monospace;
    white-space: nowrap;
    -webkit-transform-origin: center;
    -webkit-transform:rotate(-90deg) translateX(-20em);
    z-index: 10;
  }

@media (min-width: 1000px) {
  nav {
    width: 25%;
    position: fixed;
    font-family: 'Inconsolata', monospace;
    white-space: nowrap;
    -webkit-transform-origin: center;
    -webkit-transform:rotate(-90deg) translateX(-16em);
    z-index: 10;
  }

  @media (min-width: 1250px) {
    nav {
      width: 25%;
      position: fixed;
      font-family: 'Inconsolata', monospace;
      white-space: nowrap;
      -webkit-transform-origin: center;
      -webkit-transform:rotate(-90deg) translateX(-13em);
      z-index: 10;
    }

@media (min-width: 1500px) {
  nav {
    width: 25%;
    position: fixed;
    font-family: 'Inconsolata', monospace;
    white-space: nowrap;
    -webkit-transform-origin: center;
    -webkit-transform:rotate(-90deg) translateX(-8em);
    z-index: 10;
  }
  body#accordion nav {
    width: 25%;
    margin: 10% 0 0 0;
    position: fixed;
    /* font-family: 'Inconsolata', monospace; */
    white-space: nowrap;
    -webkit-transform-origin: center;
    -webkit-transform:rotate(-90deg) translateX(-6em);
    z-index: 10;
  }
}
