/* ABOUT CSS */

body {
  background-color: #FCFBFA;
  margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

/* nav {
  width: 25%;
  position: fixed;
  white-space: nowrap;
  -webkit-transform-origin: center;
  -webkit-transform:rotate(-90deg) translateX(-18em);
  z-index: 10;
} */

nav.header {
    margin: 35px auto 0;
    text-align: center;
}
.post__footer ul:first-child li:first-child, nav li:first-child {
    margin-left: 0
}
li.custom-like-button, nav li {
    display: inline-block
}
.page-permalink nav.header {
    display: none
}
.nav, .hamburger {
    display: block
}
nav.header {
    width: initial;
    position: fixed;
    -webkit-transform: rotate(-90deg) translateX(-50%);
    -ms-transform: rotate(-90deg) translateX(-50%);
    transform: rotate(-90deg) translateX(-50%);
    margin: 0;
    top: 50%;
    left: 9%;
    -webkit-transform-origin: top left;
    transform-origin: top left;
    padding-left: 0;
}
nav.header > ul {
    width: 90vh;
}


ul {
  color: #929DA6;
  font-family: 'Abel', sans-serif;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1px;
  font-weight: 200;
  margin-left: 0;
  padding-left: 0;
}

li.credits {
  margin-bottom: 10px;
  display: block;
}

li.lessons {
  margin-bottom: 10px;
}

a {
  color: #929DA6;
  text-decoration: none;
  font-family: 'Abel', sans-serif;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1px;
  font-weight: 200;
}

a.intext {
  line-height: 25px;
}

a:hover {
  color: #FF9381;
  /* color: #353535; */
  font-weight: 400;
}

a.pop {
  font-family: 'Rubik Mono One', sans-serif;
  color: #929DA6;
  text-decoration: none;
  font-size: 20px;
}

a.pop:hover {
  color: #FF9381;
  /* color: #353535; */
}

/* top margin was set at 10% originally */
main {
  margin: 0 0 0 25%;
  white-space: normal;
}

img.sig {
  width: 13%;
  padding: 5% 0 0 0;
}

img.sig2 {
  width: 13%;
  padding: 0 0 0 5%;
  position: fixed;
}

img.lessonpic {
  width: 100%;
}

img.homepic {
  width: 100%;
  /* -webkit-filter: grayscale(100%); 
  filter: grayscale(100%);  */
}

img.homepic:hover {
  transition: filter .2s ease-in-out;
-webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
filter: grayscale(0%); /* FF 35+ */
}

img.acpic {
  width: 100%;
  filter: saturate(1);
}

p {
  /* color: #929DA6; */
  color: #929DA6;
  font-family: 'Abel', sans-serif;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1px;
  font-weight: 200;
  text-align: left;
}


body#index p.sound {
  margin: 2em 0 2em 0;
}

h1 {
  font-family: 'Rubik Mono One', sans-serif;
  color: #929DA6;
  font-size: 33px;
  text-decoration: none;
  margin: 0px;
  font-weight: 400;
}

h5 {
  font-family: 'Rubik Mono One', sans-serif;
  color: #929DA6;
  font-size: 20px;
  text-decoration: none;
  margin: 0px;
}

h2 {
  color: #929DA6;
  font-family: 'Abel', sans-serif;
  font-size: 46.5px;
  line-height: 55px;
  letter-spacing: 1px;
  font-weight: 200;

  text-decoration: none;
  margin: 0 0 -5px 0;
}

h3 {
  color: #929DA6;
  font-family: 'Abel', sans-serif;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 1px;
  font-weight: 200;

  text-decoration: none;
  margin: 0px;
}

h4 {
  font-family: 'Rubik Mono One', sans-serif;
  color: #929DA6;
  text-decoration: none;
  font-size: 20px;
}


body#index div:nth-of-type(1) {
  padding: 0 0 10% 0;
}

body#index div:nth-of-type(2) {
  padding: 0 3% 10% 0;
}


body#collaborations div:nth-of-type(2) {
  padding: 10% 3% 20% 0;
}

body#collaborations div:nth-of-type(4) {
  padding: 10% 3% 20% 0;
}

body#collaborations div:nth-of-type(5) {
  padding: 0 3% 10% 0;
}

body#collaborations div:nth-of-type(6) {
  padding: 0 3% 10% 0;
}

body#solo div:nth-of-type(1) {
  padding: 0 0 10% 0;
}

body#solo div:nth-of-type(2) {
  padding: 0 3% 20% 0;
}

body#solo div:nth-of-type(3) {
  padding: 0 0 10% 0;
}

body#solo div:nth-of-type(4) {
  padding: 0 3% 20% 0;
}

body#solo div:nth-of-type(5) {
  padding: 0 0 10% 0;
}

body#lessons div:nth-of-type(1) {
  padding: 0% 0% 0% 0;
}

body#lessons div:nth-of-type(2) {
  padding: 10% 0% 0% 0;
}

body#lessons div:nth-of-type(3) {
  padding: 0% 3% 10% 0;
}


img.play {
  height: 17px;
}



@media (max-width: 414px) {
  nav.header {
    left: 5%;
  }
  h1 {
    font-size: 32px;
  }
}
@media (max-width: 667px) {
  nav.header {
    left: 3%;
  }
  h1 {
    font-size: 32px;
  }
  img.sig {
    width: 20%;
    padding: 5% 0 0 0;
  }
}
@media (max-width: 568px) {
  nav.header {
    left: 4%;
  }
  h1 {
    font-size: 26px;
  }
}

@media (max-height: 400px) {
  ul.nav {
    font-size: 14px;
  }
  a.navitem {
    font-size: 14px;
  }
}


/* @media (max-width: 900px) {
  nav.header {
    left: 8%;
  }
} */
