/* ABOUT CSS */

body {
  background-color: #FCFBFA;
  margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

nav {
  width: 25%;
  position: fixed;
  white-space: nowrap;
  -webkit-transform-origin: center;
  -webkit-transform:rotate(-90deg) translateX(-18em);
  z-index: 10;
}

a {
  color: #929DA6;
  text-decoration: none;
  font-family: 'Abel', sans-serif;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 2px;
  font-weight: 200;
}

a:hover {
  color: #828C94;
  font-weight: 400;
}

a.pop {
  font-family: 'Rubik Mono One', sans-serif;
  color: #929DA6;
  text-decoration: none;
  font-size: 20px;
}

main {
  margin: 10% 0 0 25%;
  white-space: normal;
}

img.homepic {
  width: 100%;
  filter: saturate(1.1);
}

img.acpic {
  width: 100%;
  filter: saturate(1);
}

p {
  /* color: #929DA6; */
  color: #929DA6;
  font-family: 'Abel', sans-serif;
  font-size: 21px;
  line-height: 32px;
  letter-spacing: 2px;
  font-weight: 200;
  text-align: left;
}


body#index p.sound {
  margin: 3em 0 3em 0
}

h1 {
  font-family: 'Rubik Mono One', sans-serif;
  color: #929DA6;
  font-size: 28px;
  text-decoration: none;
  margin: 0px;
}

h2 {
  color: #929DA6;
  font-family: 'Abel', sans-serif;
  font-size: 46.5px;
  line-height: 55px;
  letter-spacing: 1px;
  font-weight: 200;

  text-decoration: none;
  margin: 0 0 -5px 0;
}

h3 {
  color: #929DA6;
  font-family: 'Abel', sans-serif;
  font-size: 19px;
  line-height: 23px;
  letter-spacing: 1px;
  font-weight: 200;

  text-decoration: none;
  margin: 0px;
}

body#index div:nth-of-type(2n+1) {
  padding: 0 0 0 0;
}

body#index div:nth-of-type(2n) {
  padding: 10% 0 10% 0;
}

body#index div:nth-of-type(3) {
  padding: 0 15% 0 0;
}

body#index div:nth-of-type(5) {
  padding: 0 15% 20% 0;
}

body#index div:nth-of-type(7) {
  padding: 0 15% 20% 0;
}

img.play {
  height: 17px;
}



/* CAPSULE CSS */

body#capsule {
  background-color: #000000;
}

body#capsule a.caplink {
  color: #FFFFFF;
  font-family: 'Abel', sans-serif;
  font-size: 21px;
  text-decoration: underline;
  line-height: 30px;
  letter-spacing: 2.2px;
  font-weight: 200;
}

body#capsule div:nth-of-type(1) {
  text-align: center;
  margin: 0 0 10% 0
}

body#capsule main {
  margin: 10% 25% 0 25%;
  white-space: normal;
}

body#capsule h1 {
  font-family: din-condensed, sans-serif;
  font-style: normal;
  font-weight: 300;
  color: #FFFFFF;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 2.2px;
}

body#capsule h2 {
  font-family: 'Rubik Mono One', sans-serif;
  color: #FFFFFF;
  font-size: 28px;
  text-decoration: none;
  margin: 0px;
}

body#capsule p {
  color: #FFFFFF;
  font-family: 'Abel', sans-serif;
  font-size: 21px;
  line-height: 32px;
  letter-spacing: 2px;
  font-weight: 200;
  text-align: left;
}

img.preview {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 100px;
  /* filter: saturate(1.1); */
}

body#capsule div:nth-of-type(2n) {
  margin: 30% 0 25% 0;
}

body#capsule img#toplogo {
  width: 50%;
  padding-bottom: 100px;
}

body#capsule img.typo {
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 100px;
  filter: saturate(1.1);
}

body#capsule img#btmcapsule {
  vertical-align: bottom;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70px;
}

body#capsule p.footer {
  text-align: center;
  color: #E79E8C;
  font-size: 18px;
}

body#capsule div:nth-of-type(12) {
  margin: 200px 0 100px 0
}

body#capsule h2.stat {
  font-size: 60px;
  line-height: 40px;
  margin-bottom: 5px;
  text-align: left;
}

body#capsule p.stat {
  margin-top: 0;
  margin-bottom: 3em;
}

body#capsule div.parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
}
body#capsule span.child {
    width: 50%;
}


/* ACCORDION CSS */

body#accordion nav {
  width: 25%;
  margin: 10% 0 0 0;
  position: fixed;
  white-space: nowrap;
  -webkit-transform-origin: center;
  -webkit-transform:rotate(-90deg) translateX(-18em);
  z-index: 10;
}

body#accordion body {
  background-color: #DEE2E2;
}

body#accordion img {
  width: 100%;
  /* filter: saturate(1.1); */
}


body#accordion a {
  color: #929DA6;
  /* font-family: 'Inconsolata', monospace;
  font-weight: 400; */
  text-decoration: none;
  /* font-size: 17px; */

  font-family: 'Abel', sans-serif;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 2px;
  font-weight: 200;
}

body#accordion a.acclink {
  color: #4F3A4B;
  font-family: 'Abel', sans-serif;
  text-decoration: underline;
  font-size: 21px;
  line-height: 32px;
  letter-spacing: 2px;
  font-weight: 200;
  text-align: left;
}

body#accordion p {
  color: #4F3A4B
}

body#accordion h2 {
  font-family: 'Rubik Mono One', sans-serif;
  color: #4F3A4B;
  font-size: 28px;
  text-decoration: none;
  margin: 0px;
}

body#accordion div:nth-of-type(2n) {
  margin: 15% 20% 15% 25%;
  vertical-align: center;
}

body#accordion img#btmaccordion {
  vertical-align: bottom;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
}

body#accordion h2.stat {
  font-size: 50px;
  line-height: 40px;
  margin-bottom: 0;
}

body#accordion p.stat {
  margin-top: 0;
}

body#accordion div.parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
}
body#accordion span.child {
    width: 50%;
}

/* MEDIA QUERIES */
@media (max-width: 500px) {
  body#index div:nth-of-type(3) {
    padding: 0 5% 0 0;
  }
  body#index div:nth-of-type(5) {
    padding: 0 5% 20% 0;
  }
  body#index div:nth-of-type(7) {
    padding: 0 5% 20% 0;
  }
  body#capsule main {
    margin: 10% 5% 0 25%;
    white-space: normal;
  }
  body#capsule img#toplogo {
    width: -moz-available;
    padding-bottom: 100px;
    margin-left: 0;
    padding-left: 0;
  }
  p {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1px;
  }
  body#capsule p {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1px;
  }
  body#capsule a.caplink {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1px;
  }
  body#accordion a.acclink {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1px;
  }
  body#accordion div:nth-of-type(2n) {
    margin: 15% 5% 15% 25%;
    vertical-align: center;
  }
  body#accordion nav {
    margin: -7% 0 0 0;
  }
  body#accordion nav {
    width: 25%;
    margin: 10% 0 0 0;
    position: fixed;
    /* font-family: 'Inconsolata', monospace; */
    white-space: nowrap;
    -webkit-transform-origin: center;
    -webkit-transform:rotate(-90deg) translateX(-18em);
    z-index: 10;
  }
}

@media (max-height: 450px) {
  nav {
    width: 25%;
    position: fixed;
    font-family: 'Inconsolata', monospace;
    white-space: nowrap;
    -webkit-transform-origin: center;
    -webkit-transform:rotate(-90deg) translateX(-10em);
    z-index: 10;
  }
}

@media (min-width: 1200px) {
  nav {
    width: 25%;
    position: fixed;
    font-family: 'Inconsolata', monospace;
    white-space: nowrap;
    -webkit-transform-origin: center;
    -webkit-transform:rotate(-90deg) translateX(-16.5em);
    z-index: 10;
  }
  body#accordion nav {
    width: 25%;
    margin: 10% 0 0 0;
    position: fixed;
    /* font-family: 'Inconsolata', monospace; */
    white-space: nowrap;
    -webkit-transform-origin: center;
    -webkit-transform:rotate(-90deg) translateX(-16.5em);
    z-index: 10;
  }
}

@media (min-width: 1500px) {
  nav {
    width: 25%;
    position: fixed;
    font-family: 'Inconsolata', monospace;
    white-space: nowrap;
    -webkit-transform-origin: center;
    -webkit-transform:rotate(-90deg) translateX(-6em);
    z-index: 10;
  }
  body#accordion nav {
    width: 25%;
    margin: 10% 0 0 0;
    position: fixed;
    /* font-family: 'Inconsolata', monospace; */
    white-space: nowrap;
    -webkit-transform-origin: center;
    -webkit-transform:rotate(-90deg) translateX(-6em);
    z-index: 10;
  }
}
